html
{
    position: relative; 
    min-height: 100%;
}
body {
    font: 12px Montserrat, sans-serif;
    line-height: 1.8;
    color: #474e5d;
    margin: 0 0 65px;
}

.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
